/*Flex Friends:
    flexContainer - Main Container
    leftBox - Left/Text Container
    notStats - text areas inc main & sub headings, flex-direction row
    mainHeading - Largest Text
    subHeading - Text that follows immediately, same font size as stats span
    stats - separate flex container, flex-direction column
    rightBox - card area that holds image, no gap
    attribution - Text area that I decided should be a footer
    */
    /*object-fit*/
    /*filter property for img*/
    /*aspect-ratio*/
/* Size is 1440 x 800px, 150 top, bottom, left & right exterior, each card is roughly 550 x 450
*{ max-width: 1440px; }
16px = 1em = 100% <- Fonts
Padding & Margins in percentages computes values based on element*/
/* padding: top-bottom, left-right*/
/*margin: top, right, bottom, left, OR top-bottom, right-left; */

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    flex: 1 0 auto;
    height: 450px;
    width: 1100px;
    margin: 10px;
    padding: 100px;
}

body{
    display: flex;
    background-color: hsl(233, 47%, 7%);
}

body{
    color: white;
    font-family: 'Inter', serif;
    font-size: 16px 1em 100%;
    font-weight: 400;
}

span{
    font-family: 'Inter', serif;
    font-weight: 700;
    font-size: 32px 2em 200%;
}

.leftBox{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-basis: auto;
    max-width: 550px;
    border-top-left-radius: .75%;
    border-bottom-left-radius: .75%;
}

.notStats{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-basis: auto;
    gap: 5px;
    padding-left: 10%;
}

#mainHeading{
    font-family: 'Inter', serif;
    font-weight: 700;
    font-size: 30px;
}

#mainHeading span{
    color: hsl(277, 64%, 61%);
}


.stats{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    flex-basis: flex-start;
    padding-top: 20%;
    padding-left: 20%;
    padding-bottom: 25%;
    gap: 20%;
}

#stat1{ gap: 15%;}
#stat2{ gap: 15%;}
#stat3{ gap: 15%;}

.rightBox {
    display: flex;
    background-color: hsl(277, 64%, 61%);
    align-items: stretch;
    max-width: 550px;
    border-top-right-radius: .75%;
    border-bottom-right-radius: .75%;
}

img{
    object-fit: cover;
    opacity: 70%;
    max-width: 550px;
    border-top-right-radius: .75%;
    border-bottom-right-radius: .75%;
}

/*footer*/

.attribution {
    position: absolute;
    bottom: 0;
    left: 38em;
    font-size: 10px, 66%;
    text-align: center; }

.attribution a {
    color: hsl(228, 45%, 44%); }

.attSpec{
    color: A459D1;
    text-decoration: none;
}
.attSpec2{
    color: A459D1;
    text-decoration: none;
}

.attSpec:hover{
    color: cfbaf0;
    text-decoration: underline dotted green;
}
.attSpec2:hover{
    color: 90dbf4;
    text-decoration: blue wavy underline;
}

.attSpec:active{
    color: a3c4f3;
    text-decoration: dashed underline green;
}

.attSpec2:active{
    color: 8eecf5;
    text-decoration: blue wavy overline;
}

/*
1em = 15px;
2em = 30px;
0.9em = 10px;

@media (max-width: 375px) {

body{
    font-size: 15px, 1em;
    color: FFF;
    background: hsl(233, 47%, 7%);
    font-family: 'Inter', serif;
    font-weight: 400;
}

.leftBox{
    background: hsl(244, 38%, 16%);
    ***flex
}

#mainHeading{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', serif;
    font-weight: 700;
    font-size: 2em;
}

#mainHeading span{
    color: hsl(277, 64%, 61%);
    font-family: 'Inter', serif;
    font-weight: 700;
    font-size: 2em;
}

#subHeading{
   color: hsla(0, 0%, 100%, 0.75);
   font-family: 'Lexend Deca', serif;
   font-weight: 400;
    font-size: 1em;
}

.stats{
    color: hsl(0, 0%, 100%. 0.6);
    font-size: 1em;
    font-family: 'Inter', serif;
    font-weight: 400;
}

.stats span{
    font-family: 'Inter', serif;
    font-size: 2em;
    font-weight: 700;
    color: FFF;
}

#stat1

#stat2

#stat3

.image{
    background-color: 4f007d;
}

img

.attribution {
    font-size: 0.9em;
    text-align: center; }

.attribution a {
    color: hsl(228, 45%, 44%); }

.attSpec{
    color: A459D1;
    text-decoration: none;
}
.attSpec2{
    color: A459D1;
    text-decoration: none;
}

.attSpec:hover{
    color: cfbaf0;
    text-decoration: underline dotted green;
}
.attSpec2:hover{
    color: 90dbf4;
    text-decoration: blue wavy underline;
}

.attSpec:active{
    color: a3c4f3;
    text-decoration: dashed underline green;
}

.attSpec2:active{
    color: 8eecf5;
    text-decoration: blue wavy overline;
}
}
*/